.wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.input-color {
  width: 100%;
  height: 50%;
  text-align: center;
}

.colorpicker {
  margin: 2em;
  padding: 0;
  width: 15em;
  height: 10em;
  border: none;
}

.result > .picked-color,
.color {
  background-color: #000;
  width: 15em;
  height: 8em;
  border-radius: 5px;
}
