.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.colorpicker {
  float: left;
  margin: 2em;
  width: 10em;
}

.result {
  margin: 2em;
}

.resultColor {
  width: 10em;
  height: 5em;
  border-radius: 5px;
}
